<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adminpix</title>
        <link rel="shortcut icon" href="assets/dist/img/favicon.png" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!-- START GLOBAL MANDATORY STYLE -->
        <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
        <!-- START THEME LAYOUT STYLE -->
        <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader"></div>
        <div class="middle-box2-area">
            <div class="middle-box2 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="error-text2"><h1>505</h1></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="error-desc2">
                            <p>The server encountered something unexpected that didn't allow it to complete the request.
                                We apologize. You can go back to main page: </p>
                            <a href="index.html" class="btn btn-base">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jquery -->
        <script src="assets/dist/js/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/bootstrap/js/popper.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <!--main js-->
        <script src="assets/dist/js/main.js"></script>

    </body>
</html>