<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adminpix</title>
        <link rel="shortcut icon" href="assets/dist/img/favicon.png" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!-- START GLOBAL MANDATORY STYLE -->
        <link href="assets/dist/css/base.css" rel="stylesheet" type="text/css">
        <!-- START THEME LAYOUT STYLE -->
        <link href="assets/dist/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Content Wrapper -->
        <div class="register-wrapper">
            <div class="lock-wrapper-page">
                <div class="text-center">
                    <a href="index.html" class="logo-lock"><i class="icon socicon-feedburner"></i> <span>adminpix</span> </a>
                </div>
                <form method="post" action="index.html" class="text-center m-t-20">
                    <div class="user-thumb">
                        <img src="assets/dist/img/avatar.png" class="img-responsive img-circle img-thumbnail" alt="thumbnail">
                    </div>
                    <div class="form-group">
                        <h3>John Deo</h3>
                        <p class="text-muted">Enter your password to access the admin.</p>
                        <div class="input-group mt-3">
                            <input class="form-control pb-2" placeholder="Password" type="password">
                            <i class="fa fa-key"></i>
                                <button type="submit" class="btn btn-base bl-radius-0 pt-1 pb-2">Log In</button> 
                        </div>
                    </div>
                    <div class="text-left">
                        <a href="login.html" class="text-muted">Not John Deo ?</a>
                    </div>
                </form>
            </div>
            <!-- /.content-wrapper -->
        </div>

        <!-- Jquery -->
        <script src="assets/dist/js/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="assets/bootstrap/js/popper.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <!--main js-->
        <script src="assets/dist/js/main.js"></script>

       

    </body>
</html>